
<h3>Tell us about your Business</h3>
<%= simple_form_for [@bank, @sme], validate: true do |f| %>
  <div class="bank-sme-form-block">
    <h4>1. Contact Person</h4>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <%= f.input :first_name, placeholder: "First", autofocus:true %>
      </div>
      <div class="col-xs-12 col-md-6">
        <%= f.input :last_name, placeholder: "Last" %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <%= f.input :email, as: :email, validate: true, placeholder: "youremail@work.com" %>
      </div>
      <div class="col-xs-12 col-md-6">
        <%= f.input :phone, as: :tel, placeholder: "0404-040-404", input_html: { maxlength: 10 }, :error_html => { :id => "name_error"} %>
      </div>
    </div>
  </div>
  <div class="bank-sme-form-block">
    <h4>2. Business Information</h4>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <%= f.input :abn, label: :ABN, placeholder: "Your Company ABN", input_html: { maxlength: 11 }  %>
      </div>
      <div class="col-xs-12 col-md-8">
        <%= f.input :registered_business_name, placeholder: "Your Registered Business Name" %>
      </div>
    </div>
    <%= f.input :bpay_biller_name, label: "BPAY Biller Name", placeholder: "Your Biller Name", input_html: { maxlength: 20 } %>
    <%= f.hint '(Maximum length for Biller Name is 20 characters.)' %>
  </div>
  <div class="bank-sme-form-block">
    <h4>3. Bank Account Information</h4>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <%= f.input :bsb, label: :BSB, placeholder: "Your BSB", input_html: { maxlength: 6} %>
      </div>
      <div class="col-xs-12 col-md-8">
        <%= f.input :account_number, placeholder: "Your Account Number", input_html: { maxlength: 9 }  %>
      </div>
    </div>
  </div>
  <%= f.button :submit, 'Create BPAY biller account', class: "btn btn-primary" %>
<% end %>
