<nav id = <%= @bank.slug %> class="navbar-default navbar-bpay">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-md-3 text-center">
        <%= link_to bank_path(@bank), class: "navbar-bpay-brand" do %>
          <%= image_tag (@bank.slug + "_logo.png")%>
        <% end %>
      </div>
      <div class="col-xs-6 col-md-3 col-md-push-6 text-center">
        <%= link_to bank_path(@bank), class: "navbar-bpay-brand" do %>
          <%= image_tag ("bpay_logo.jpg")%>
        <% end %>
      </div>
      <div class="col-xs-12 col-md-6 col-md-pull-3 text-center">
        <h3>Become a BPAY Biller today!</h3>
      </div>
    </div>
  </div>
</nav>



